<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
    <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=MAINSERVER;Initial Catalog=SportFeedsDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <httpRuntime/>

      <webServices>
        <protocols>
          <add name="HttpSoap12"/>
          <add name="HttpSoap"/>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
    </system.web>
</configuration>
